@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* Base */
body {
	font-family: "Helvetica", "Trebuchet MS", Dotum, Verdana, AppleGothic, sans-serif; 
	font-size: 14px;
	margin: 0px;
}

header {
	height: 63px;
	line-height: 63px;
	border-width: 0px !important;
	border-bottom: 1px solid #eaeaea !important;
	z-index: 10000 !important;
	background-color: #fff !important;
	background-image: none !important;
}

nav {
	margin-top: 56px;
	height: 160px;
	background-color: #8772bf !important;
	background-image: none !important;
	position: relative !important;
}

.main {
	height: 480px;
}

.main > * {
	position: absolute !important;
	top: 74px;
	height: 416px;
	border-bottom-width: 0px !important;
}

.main > nav:nth-child(1) {
	background-image: url("img2/headline.png") !important;
	background-repeat: repeat-x !important;
}

.main > nav:nth-child(2) {
	background-image: url("img2/headline.png") !important;
	background-repeat: repeat-x !important;
	display: none;
}

.main > nav:nth-child(3) {
	background-image: url("img2/headline.png") !important;
	background-repeat: repeat-x !important;
	display: none;
}

.pt-page-fade {
	-webkit-animation: fade .7s ease both;
	animation: fade .7s ease both;
}

.pt-page-moveFromRightFade {
	-webkit-animation: moveFromRightFade .7s ease both;
	animation: moveFromRightFade .7s ease both;
}

@-webkit-keyframes fade {
	from { }
	to { opacity: 0.3; }
}
@keyframes fade {
	from { }
	to { opacity: 0.3; }
}

@-webkit-keyframes moveFromRightFade {
	from { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
	from { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

nav.about {
    margin-top: 74px;
    height: 524px;
    border-bottom-width: 0px !important;
    background-color: #2f353e !important;
    display: none;
}

nav.download, nav.sub {
	margin-top: 0px;
	background-color: #2f353e !important;
}

nav.download {
	height: 109px;
}

nav.sub {
	margin-top: 74px;
	height: 91px;
	line-height: 91px;
}

nav.sub .title, nav.about .title {
	font-size: 32px;
	color: #e0e0e2;
	text-shadow: 0px 1px #1d232c;
	margin-right: 30px;
	vertical-align: middle;
}

nav.about .notice {
    height: 196px;
    max-height: 196px;
}

nav.about .title {
    margin: 20px 0;
    font-weight: bold;
}

nav.about .msg {
    color: #e0e1e1;
    font-size: 28px;
    line-height: 36px;
    font-weight: normal;
    letter-spacing: 1px;
}

nav.sub .msg {
	font-size: 14px;
	color: #bebfc2;
	text-shadow: 0px 1px #1d232c;
	vertical-align: middle;
}

nav.download .msg-list {
	padding-top: 18px;
}

nav.download .msg-list > .msg1 {
	font-family: "Nanum Gothic";
	font-size: 22px;
	color: #e0e0e0;
	text-shadow: 0px 1px #191e26;
	margin-bottom: 7px;
}

nav.download .msg-list > .msg2 {
	font-family:  "Nanum Gothic";
	font-size: 12px;
	color: #bababa;
	text-shadow: 0px 1px #191e26;
	line-height:1.6em
}

nav.download .btn-list {
	text-align: right;
	padding-top: 27px;
}

nav.bg-sub {
	padding: 0 !important;
	border: 0 !important;
	height: 52px !important;
	background: #f0f0f0 !important;
}

nav.bg .msg {
	position: absolute;
	font-family: "Nanum Gothic";
	font-size: 11px;
	width: 100%;
	top: 54px;
	text-align: center;
	color: #2f353e;
	line-height: 1.8em;
}

nav.bg-sub .msg {
	display: none;
}

nav.bg .info, nav.bg-sub .info {
	position: absolute;
	width: 100%;
	height: 52px;
	bottom: 5px;
}

article {
	display: none;
}

article iframe {
	width: 100%;
}


nav .container {
	text-align: center;
	padding-top: 152px;
}

nav .container .detail {
	font-family: "Nanum Gothic";
	font-size: 16px;
	padding-top: 32px;
	text-shadow: 0px 1px #6f5d9d;
	text-align: center;
	color: #fff;
	line-height: 1.6em;
}

nav .bs-social-buttons {
	display: inline-block;
	margin-bottom: 0;
	margin-left: -8px;
	padding-left: 0;
	list-style: none;
}

nav .bs-social {
	text-align: left;
}

nav .bs-social-buttons li {
	display: inline-block;
	line-height: 1;
	padding: 5px 8px;
}

nav .github-btn {
	border: 0;
	overflow: hidden;
}

footer {
	height: 153px;
	background-color: #2f353e !important;
	background-image: none !important;
}

footer .msg {
	font-size: 11px;
	color: #777;
	line-height: 1.8em;
}

footer .link {
	text-align: right;
	font-size: 14px;
	color: #414853;
	padding-top: 7px;
}

footer .link > span {
	cursor: pointer;
	color: #777 !important;
}

footer .link > span:hover, footer .link > span.active {
	color: #fff !important;
}

footer .row {
	padding-top: 22px;
}

footer .line {
	margin-top: 18px !important;
	margin-bottom: 18px !important;
	height: 1px;
	background: #414853;
}

footer #about {
	position: absolute;
	display: none;
	bottom: 35px;
	right: -20px;
	width: 583px;
	height: 506px;
	z-index: 10001;
	line-height: normal !important;
	background-image: url("img2/about.png");
	background-repeat: no-repeat;
}

footer #about .col {
	margin-top: 50px;
}

footer #about .col-alvin {
	padding-left: 64px;
}

footer #about .col-yoha {
	padding-left: 10px;
}

footer #about .name {
	font-size: 24px;
	font-weight: bold;
}

footer #about .name.alvin {
	color: #3cc6b7;
}

footer #about .name.yoha {
	color: #8772bf;
}

footer #about .team {
	font-style: italic;
	font-size: 11px;
	color: #fff;
	margin-top: 3px;
}

footer #about .info {
	margin-top: 26px;
}

footer #about .info a {
	display: block;
	font-style: italic;
	font-size: 11px; 
	color: #979a9f;
	text-decoration: none;
}

footer #about .info a:hover {
	color: #fff;
}

.center {
	position: relative;
	width: 960px;
	margin: 0 auto !important;
}

.center .logo {
	position: absolute;
	background-image: url('img/logo.png'); 
	background-repeat: no-repeat;
	width: 58px;
	height: 32px;
	top: 7px;
}

.center .menu {
	position: absolute;
	height: 100%;
	margin: auto 0;
	left: 108px;
}

.center .menu-right {
	left: auto !important;
	right: 0;
}

.center .menu a {
	font-size: 16px;
	text-decoration: none;
	margin-right: 38px;
	color: #979a9f;
}

.center .menu a:last-child {
	margin-right: 0px !important;
}

.center .menu a:hover, 
.center .menu a.active {
	color: #7d66ba;
}

.center .col-left {
	padding: 30px 0 0 0;
	width: 20% !important;
}

.center .col-right {
	padding: 30px 0 0 25px;
	width: 80% !important;
}

.img {
	display: inline-block;
	background-image: url("img2/home.png");
	background-repeat: no-repeat;
}

.img-logo-top {
	background-position: -464px -140px;
	width: 55px;
	height: 52px;
	position: absolute;
	top: 10px;
	cursor: pointer;
}

.img-logo-bottom {
	position: absolute;
	background-position: -264px -665px;
	width: 48px;
	height: 25px;
}

.img-logo {
	background-position: 0 -458px;
	width: 501px;
	height: 58px;
}

.img-download1 {
	background-position: 0 -192px;
	width: 197px;
	height: 52px;
	cursor: pointer;
}
.img-download1:hover {
	background-position: 0 -140px;
}
.img-download1:active {
	background-position: 0 -244px;
}

.img-download2 {
	background-position: -197px -192px;
	width: 197px;
	height: 52px;
	cursor: pointer;
}
.img-download2:hover {
	background-position: -197px -140px;
}
.img-download2:active {
	background-position: -197px -244px;
}

/* Loading */
#floatingBarsG{
position:relative;
display: none;
width:62px;
height:77px}

.blockG{
position:absolute;
background-color:#FFFFFF;
width:10px;
height:24px;
-moz-border-radius:8px 8px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:8px 8px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:8px 8px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:8px 8px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:8px 8px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:28px;
-moz-animation-delay:0.39s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.39s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.39s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.39s;
-o-transform:rotate(-90deg);
animation-delay:0.39s;
transform:rotate(-90deg);
}

#rotateG_02{
left:8px;
top:10px;
-moz-animation-delay:0.52s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.52s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.52s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.52s;
-o-transform:rotate(-45deg);
animation-delay:0.52s;
transform:rotate(-45deg);
}

#rotateG_03{
left:26px;
top:3px;
-moz-animation-delay:0.65s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.65s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.65s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.65s;
-o-transform:rotate(0deg);
animation-delay:0.65s;
transform:rotate(0deg);
}

#rotateG_04{
right:8px;
top:10px;
-moz-animation-delay:0.78s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.78s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.78s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.78s;
-o-transform:rotate(45deg);
animation-delay:0.78s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:28px;
-moz-animation-delay:0.9099999999999999s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.9099999999999999s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.9099999999999999s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.9099999999999999s;
-o-transform:rotate(90deg);
animation-delay:0.9099999999999999s;
transform:rotate(90deg);
}

#rotateG_06{
right:8px;
bottom:7px;
-moz-animation-delay:1.04s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:1.04s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:1.04s;
-ms-transform:rotate(135deg);
-o-animation-delay:1.04s;
-o-transform:rotate(135deg);
animation-delay:1.04s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:26px;
-moz-animation-delay:1.1700000000000002s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:1.1700000000000002s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:1.1700000000000002s;
-ms-transform:rotate(180deg);
-o-animation-delay:1.1700000000000002s;
-o-transform:rotate(180deg);
animation-delay:1.1700000000000002s;
transform:rotate(180deg);
}

#rotateG_08{
left:8px;
bottom:7px;
-moz-animation-delay:1.3s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1.3s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1.3s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1.3s;
-o-transform:rotate(-135deg);
animation-delay:1.3s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}
