@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic");

/* Base */
body {
    font-family: "Noto Sans", "Nanum Gothic", "Dotum", "sans-serif";
    font-size: 14px;
    margin: 0px;
    background-image: none !important;
}

.header {
    position:absolute;
    left: 0px;
    top: 0px;
    bottom:0px;
    height:58px;
    right:0px;
}

.header .logo {
    width: 250px;
    font-weight: 900;
}

.header .logo > img {
    max-height: 100%;
    margin-top: -4px;
    cursor: pointer;
}

.header .toolbar {
    right: 0px;
    padding-left: 270px;
}

.container {
    position: absolute;
    top:58px;
    left:0px;
    right:0px;
    bottom:0px;
    height:auto !important;
}

.vmenu > a > i {
    display: inline-block !important;
    font-size: 14px;
}

.vmenu > a {
    display: inline-block;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: left !important;
}


.container > .menu {
    position: absolute;
    width: 250px;
    left:0px;
    top:0px;
    bottom:0px;
    overflow: auto;
}

.container > .content {
    padding: 0 !important;
    position:absolute;
    top:0px;
    right:0px;
    left:250px;
    bottom:0px;
}


.CodeMirror {
    font-size: 12px;
    font-family: "Noto Sans", "Nanum Gothic", "Dotum", "sans-serif";
    max-height: 100%;
    height: 100%;
}
.CodeMirror-scroll {
    overflow: hidden;
}

.contents {
    position: relative;
    width: 100%;
    height: 100%;
}

.chart_list {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 10px;
    width: 250px;
    overflow: auto;
}

.chart_comments {
    float: right;
    text-decoration: none;
    color: white;
}

.splitter {
    width: 5px;
    position: absolute;
    background-color: #ddd;
    left: 250px;
    top: 0px;
    bottom: 0px;
}

.splitter-2 {
    width: 2px;
    position: absolute;
    background-color: #ddd;
    left: 30%;
    top: 0px;
    bottom: 0px;
}

.chart_data {
    position: absolute;
    border-left:2px solid #ddd;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 30%;
    overflow-y: auto;
    background: white;
}

.chart_data_main {
    height: 100%;
    width: 100%;
}

#tab_1 a {
    padding: 10px 25px;
}

#tab_contents_1 {
    background: #ddd;
}

#tab_contents_1 .panel {
    height: 400px;
    background: white;
    padding: 5px;
}

#tab_contents_1 table {
    margin-bottom: 20px;
}

.chart_view {
    overflow: hidden;
    position: absolute;
    left: 30%;
    top: 0px;
    bottom: 0px;
    right: 10px;
    background-color: white;
    z-index: 10;
}

.chart_view .chart-main {
    position: relative;
    height: 100%;
    width: 100%;
}

#chart-content-title {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 48px;
    border-bottom: 1px solid #ddd;
}

#chart-content-title h2 {
    text-align: left;
    margin-left: 20px;
}

#chart-content-title .group {
    float: right;
    margin-right: 3px;
    margin-top: -3px;
}

#chart-content {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 80px;
    bottom: 20px;
}