.col {
    padding: 10px;
}

.panel .head {
    font-weight: bold;
}

.panel .body img {
    max-width: 100%;
    max-height:188px;
}

.panel .body img:hover {
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    cursor : pointer;
}

.row.gallery {
    margin-top: 30px;
}

.chart-main {
    border: 1px solid white;
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
    overflow: auto;
}

.vmenu>:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 0px;
}

.vmenu>:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 1px;
}

a > .icon-close {
    color: #333;
    font-size: 14px;
}

.CodeMirror {
    font-size: 12px;
    font-family: "Noto Sans", "sans-serif", "Dotum";
    max-height: 100%;
    height: 100%;
}
.CodeMirror-scroll {
    overflow: hidden;
}

#modal_1 {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999999999;
}

#modal_1 .head {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 60px;
}

#modal_1 .head span {
    margin-top: 10px;
    margin-left: 150px;
}

#modal_1 .head select {
    padding: 5px;
}

#modal_1 .head div {
    float: right;
}

#modal_1 .body {
    border-top: 1px solid #ebebeb;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 60px;
    bottom: 0px;
    padding: 0px !important;
}

#modal_1 .body .contents {
    position: relative;
    width: 100%;
    height: 100%;
}

#modal_1 .body .chart_list {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 10px;
    width: 250px;
    overflow: auto;
}

#modal_1 .body .splitter {
    width: 5px;
    position: absolute;
    background-color: #ddd;
    left: 250px;
    top: 0px;
    bottom: 0px;
}

#modal_1 .body .splitter-2 {
    width: 5px;
    position: absolute;
    background-color: #ddd;
    left: 755px;
    top: 0px;
    bottom: 0px;
}

#modal_1 .body .chart_data {
    position: absolute;
    left: 255px;
    top: 0px;
    bottom: 10px;
    width: 440px;
    overflow-y: auto;
}

#modal_1 .body .chart_data_main {
    height: 100%;
    width: 100%;
}

#modal_1 .body #tab_1 a {
    padding: 10px 25px;
}

#modal_1 .body #tab_contents_1 {
    background: #ddd;
}

#modal_1 .body #tab_contents_1 .panel {
    height: 400px;
    background: white;
    padding: 5px;
}

#modal_1 .body #tab_contents_1 table {
    margin-bottom: 20px;
}

#modal_1 .body .chart_view {
    overflow: hidden;
    position: absolute;
    left: 700px;
    top: 0px;
    bottom: 0px;
    right: 10px;
    background-color: white;
    z-index: 10;
}

#modal_1 .body .chart_view .chart-main {
    position: relative;
    height: 100%;
    width: 100%;
}

#modal_1 .body #chart-content-title {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 48px;
    border-bottom: 1px solid #ddd;
}

#modal_1 .body #chart-content-title h2 {
    text-align: left;
    margin-left: 20px;
}

#modal_1 .body #chart-content-title .group {
    float: right;
    margin-right: 3px;
}

#modal_1 .body #chart-content {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 100px;
    bottom: 50px;
}